body {
    overflow: hidden;
    margin: 0;
}
    
p {
  text-align: left;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
   }

.ms-Dialog-content {
    padding-left: 5px;
}

.ms-Grid {
    padding: 0px;
}

.ms-Grid-row {
    padding: 15px;
    margin: 0px;
}

.ms-Grid-col {
    padding: 0px;
}
.ms-Dialog-text {
  padding-top: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
}

.ms-Icon--alert {
  color: #ffb900;
  font-size: xx-large; }

.ms-Button {
  margin: auto;
  display: block;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 15px !important;
}